[submodule "kickstart.nvim"]
	path = kickstart.nvim
	url = git@github.com:jurica/kickstart.nvim.git
[submodule "alacritty-theme"]
	path = alacritty-theme
	url = git@github.com:alacritty/alacritty-theme.git
[submodule "delta"]
	path = delta
	url = git@github.com:dandavison/delta.git
